html, body {
    font-size: 22px;
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    margin-bottom: 300px;
}

h1 {
    padding: 10px;
}

.list_menu a{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 25px;
	color: #fcfffc;
	font-weight: bold;
	font-size: 30px;
	border-left: 2px solid #F5B7C7;
	transition: 0.2s ease;
	padding-left: 5px;
	text-decoration: none;
}
.list_menu ul {
    list-style: none;
}
.list_menu a:hover{
	border-left: 2px solid #F5B7C7;
	transition: 0.2s ease;
	padding-left: 10px;
	text-decoration: underline;
	color: #999999;
}
.list_menu li{
	margin: 20px 0;
}

.list_menu{
	margin-bottom: 50px;
	margin-right: 15px;
	padding-right: 50px;
	margin-left: -52px;
}

.menu span {
    border-right: 5px white solid;
	margin-right: 30px;
	padding-right: 50px;
	left: 100%;
	margin-left: -108px;
	height: 100vh;
	top: 0;
	position: absolute;
}

@keyframes light {
    0% {
        opacity: .1;
        left: -300px;
    }
    50% {
        opacity: .6;
        left: -270px;
    }
    75% {
        opacity: .5;
        left: -300px;
    }
    90% {
        opacity: .4;
        left: -280px;
    }
    95% {
        opacity: .3;
        left: -290px;
    }
    100% {
        opacity: .2;
        left: -300px;
    }
}

.menu{
	padding: 25vh 50px;
	background: rgba(20, 20, 20, 0.5);
	height: 100vh;
	border-right: 7px solid red;
	position: fixed;
    opacity: .1;
	left: -300px;
	transition: 0.4s ease;
	animation: light 1s;
	z-index: 2;
}
.menu:hover{
	left: 0;
	transition: 0.5s ease;
	opacity: 1;
}

#log, #pass {
    width: auto;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
}

#log:focus, #pass:focus {
    background-color: #ddd;
    outline: none;
}

#btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 10px;
    font-size: 20px;
}

#btn:hover {
    color: #4CAF50;
    background-color: lightgrey;
    opacity:1;
}

.container {
    padding: 16px;
}

.container input {
    border-radius: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 50px;
    background-color: rgba(240, 240, 240, .5);
}

.modal-content {
    border-radius: 15px;
    background-color: #fefefe;
    margin: 10% auto 15% auto;
    border: 1px solid #888;
    width: 35%;
    height: auto;
}


input:invalid {
    animation: shake 300ms;
    color: rgb(255,  35, 35);
}

@keyframes shake {
    25% { transform: translateX(4px); }
    50% { transform: translateX(-4px); }
    75% { transform: translateX(4px); }
}

.flash {
    padding: 10px;
}

.flash.success{
    border: 1px solid #21DB56;
    background: #AEFFC5;
}

.flash.error{
    border: 1px solid #FF4334;
    background: #FF9C9C;
}

footer {
    position: fixed;
    width: 100%;
    padding: 50px;
    color: lightgrey;
    background-color: #3F412E;
    font-family: 'Disket Mono', sans-serif;
    bottom: -260px;
    left: 0;
    border-top: 7px red solid;
    z-index: 2;
    opacity: .1;
    transition: 0.4s ease;
}

footer:hover {
    bottom: 0;
    opacity: 1;
}

footer #author {
    margin-right: 50px;
}

footer a {
    color: #fdc073;
    text-decoration: none;
}

footer #other a {
    padding-right: 80px;
}

#Stepin,#Paleev,#Ydoratin {
    display: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 992px) {
        .modal-content {
            margin-top: 50%;
            font-size: 35px;
            width: 75%;
            height: 26%;
        }
        .modal-content input {
            font-size: 25px;
        }
        footer {
            margin-top: 180%;
            font-size: 30px;
        }
        footer #other {
            display: flex;
            margin-top: 20px;
            justify-content: space-around;
            flex-direction: column;
        }
        footer #other ul li {
            margin-top: 26px;
            list-style-type: circle;
        }
        .menu {
            left: -290px;
        }
    }
