{% extends "base.html" %}
{% block content %}
{{ super() }}
<style>
    .teachers, .students, .admins {
        display: flex;
        flex-direction: column;
        width: 30%;
        border: 1px black solid;
        padding: 20px;
    }
    .content {
        display: flex;
        margin: 40px;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    #status_content1, #status_content2, #status_content3 {
        display: none;
    }
    #change_status1, #change_status2, #change_status3 {
        border: 1px black solid;
        border-radius: 12px;
        padding: 12px;
        color: white;
    }
    #change_status1:hover, #change_status2:hover, #change_status3:hover {
        color: yellow;
    }
    #change_status1 {
        background-color: brown;
    }
    #change_status2 {
        background-color: blue;
    }
    #change_status3 {
        background-color: red;
    }
</style>
<video src="" typeof="mp4" autoplay loop muted style="position: absolute; opacity: .6; z-index: -1;" width="100%"></video>
<div class="content">
    <div class="teachers">
        <h1>Учителя</h1>
        {% for i in users %}
            {% if i.status == 'teacher' %}
                <p style="color: brown;"><strong>{{i.nick}}</strong></p>
                <p>{{i.age}}</p>
                <p>{{i.name}}</p>
                <div id="status_content1">
                    <form method="post" action="{{url_for('status_change', id_user=i.id)}}">
                        <p style="color: brown;"><strike>{{i.status}}</strike><label> <span style="font-size: 24px; color: red;">→</span> <input placeholder="Статус" name="status" required></label></p>
                        <button type="submit">Подтвердить</button> <button type="button" onclick="document.getElementById('status_content1').style.display='none'; document.getElementById('change_status1').style.display='block'; document.getElementById('status1').style.display='block';">Отменить</button>
                    </form>
                </div>
                <p id="status1" style="transform: uppercase; color: brown;">{{i.status}}</p>
                <button style="width: 200px;" id="change_status1" onclick="document.getElementById('status_content1').style.display='block'; document.getElementById('change_status1').style.display='none'; document.getElementById('status1').style.display='none';">Изменить статус пользователя</button>
            {% endif %}
        {% endfor %}
    </div>
    <div class="students">
        <h1>Ученики</h1>
        {% for i in users %}
            {% if i.status == 'student' %}
                <p style="color: blue;"><strong>{{i.nick}}</strong></p>
                <p>{{i.age}}</p>
                <p>{{i.name}}</p>
                <div id="status_content2">
                    <form method="post" action="{{url_for('status_change', id_user=i.id)}}">
                        <p style="color: blue;"><strike>{{i.status}}</strike><label> <span style="font-size: 24px; color: red;">→</span> <input placeholder="Статус" name="status" required></label></p>
                        <button type="submit">Подтвердить</button> <button type="button" onclick="document.getElementById('status_content2').style.display='none'; document.getElementById('change_status2').style.display='block'; document.getElementById('status2').style.display='block';">Отменить</button>
                    </form>
                </div>
                <p id="status2" style="transform: uppercase; color: blue;">{{i.status}}</p>
                <button style="width: 200px;" id="change_status2" onclick="document.getElementById('status_content2').style.display='block'; document.getElementById('change_status2').style.display='none'; document.getElementById('status2').style.display='none';">Изменить статус пользователя</button>
            {% endif %}
        {% endfor %}
    </div>
    <div class="admins">
        <h1>Админы</h1>
        {% for i in users %}
            {% if i.status == 'admin' %}
                <p style="color: red;"><strong>{{i.nick}}</strong></p>
                <p>{{i.age}}</p>
                <p>{{i.name}}</p>
                <div id="status_content3">
                    <form method="post" action="{{url_for('status_change', id_user=i.id)}}">
                        <p style="color: red;"><strike>{{i.status}}</strike><label> <span style="font-size: 24px; color: red;">→</span> <input placeholder="Статус" name="status" required></label></p>
                        <button type="submit">Подтвердить</button> <button type="button" onclick="document.getElementById('status_content3').style.display='none'; document.getElementById('change_status3').style.display='block'; document.getElementById('status3').style.display='block';">Отменить</button>
                    </form>
                </div>
                {% if session['userlogged'] == 'bIades' or session['userlogged'] == 'huilan91' %}
                    <p id="status3" style="transform: uppercase; color: red;">{{i.status}}</p>
                    <button style="width: 200px;" id="change_status3" onclick="document.getElementById('status_content3').style.display='block'; document.getElementById('change_status3').style.display='none'; document.getElementById('status3').style.display='none';">Изменить статус пользователя</button>
                {% else %}
                    <p style="transform: uppercase; color: red;">{{i.status}}</p>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}