{% extends "base.html" %}
{% block content %}
{{ super() }}
<style>
    .teachers, .students, .admins {
        display: flex;
        flex-direction: column;
        width: 30%;
        border: 1px black solid;
        padding: 20px;
    }
    .content {
        display: flex;
        margin: 40px;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .btns {
        text-decoration: none;
        color: white;
        padding: 12px;
        border-radius: 20px;
        position: relative;
        display: inline-block;
        width: 90px;
        margin-inline: 20%;
        margin-top: 20px;
    }
    .btns:hover {
        opacity: .6;
    }
    .sumbitbtns {
        padding: 12px;
        border-radius: 12px;
        width: 200px;
    }
    .sumbitbtns:hover {
        color: white;
        background-color: grey;
    }
</style>
<video src="" typeof="mp4" autoplay loop muted style="position: absolute; opacity: .6; z-index: -1;" width="100%"></video>
<a style="background-color: blue;" class="btns" href="{{url_for('contact_page')}}">Контакты</a> <a style="background-color: red;" class="btns" href="{{url_for('reports_page')}}">Репорты</a>
<div class="content">
    <div class="teachers">
        <h1>Учителя</h1>
        {% for i in users %}
            {% if i.status == 'teacher' %}
                <p style="color: brown;"><strong>{{i.nick}}</strong></p>
                <p>{{i.age}}</p>
                <p>{{i.name}}</p>
                <form method="post" action="{{url_for('status_change', id_user=i.id)}}">
                    <div class="radios">
                        <input id="radio-1" type="radio" value="admin" name="radio">
                        <label for="radio-1" style="color: red;">Админ</label>
                        <input id="radio-2" type="radio" value="student" name="radio">
                        <label for="radio-2" style="color: blue;">Ученик</label>
                        <input id="radio-3" type="radio" value="teacher" name="radio" checked>
                        <label for="radio-3" style="color: brown;">Учитель</label>
                    </div>
                    <button class="sumbitbtns" type="submit">Подтвердить</button>
                </form>
            {% endif %}
        {% endfor %}
    </div>
    <div class="students">
        <h1>Ученики</h1>
        {% for i in users %}
            {% if i.status == 'student' %}
                <p style="color: blue;"><strong>{{i.nick}}</strong></p>
                <p>{{i.age}}</p>
                <p>{{i.name}}</p>
                <form method="post" action="{{url_for('status_change', id_user=i.id)}}">
                    <div class="radios">
                        <input id="radio-4" type="radio" value="admin" name="radio">
                        <label for="radio-4" style="color: red;">Админ</label>
                        <input id="radio-5" type="radio" value="student" name="radio" checked>
                        <label for="radio-5" style="color: blue;">Ученик</label>
                        <input id="radio-6" type="radio" value="teacher" name="radio">
                        <label for="radio-6" style="color: brown;">Учитель</label>
                    </div>
                    <button class="sumbitbtns" type="submit">Подтвердить</button>
                </form>
            {% endif %}
        {% endfor %}
    </div>
    <div class="admins">
        <h1>Админы</h1>
        {% for i in users %}
            {% if i.status == 'admin' %}
                <p style="color: red;"><strong>{{i.nick}}</strong></p>
                <p>{{i.age}}</p>
                <p>{{i.name}}</p>
                {% if session['userlogged'] == 'bIades' or session['userlogged'] == 'huilan91' %}
                    <form method="post" action="{{url_for('status_change', id_user=i.id)}}">
                        <div class="radios">
                            <input id="radio-7" type="radio" value="admin" name="radio" checked>
                            <label for="radio-7" style="color: red;">Админ</label>
                            <input id="radio-8" type="radio" value="student" name="radio">
                            <label for="radio-8" style="color: blue;">Ученик</label>
                            <input id="radio-9" type="radio" value="teacher" name="radio">
                            <label for="radio-9" style="color: brown;">Учитель</label>
                        </div>
                        <button class="sumbitbtns" type="submit">Подтвердить</button>
                    </form>
                {% else %}
                    <p style="transform: uppercase; color: red;">Админ</p>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}