<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    {% if title %}
        <title>{{title}}</title>
    {% endif %}
    <style>

    </style>
</head>
<body>
{% block content %}
    {%- block menu -%}
        <ul class="menu">
            <a href="{{url_for('start_page')}}"><img src="/static/img/favicon.png" width="40" height="40" style="margin-top: 6px; float: left; margin-left: 18px;"></a>
            {% for m in menu -%}
                <li><a href="{{url_for(m.url)}}">{{m.title}}</a></li>
            {% endfor -%}
            {% if 'userlogged' in session %}
                {% if status == 'admin' %}
                    <li><a href="{{url_for('admin_page')}}" style="float: right;">Админ</a></li>
                {% endif %}
                <li><a href="{{url_for('quit')}}" style="float: right;">Выход</a></li>
            {% else %}
                <li><a onclick="document.getElementById('id01').style.display='block'" style="float: right;">Вход</a></li>
            {% endif %}
        </ul>
    {% endblock menu -%}
    <div id="id01" class="modal">
        <form class="modal-content" method="post" action="{{url_for('start_page')}}">
            <div class="container">
                <h1 style="text-align: center; text-transform: uppercase; font-family: Arial; font-size: 35px;">Вход</h1>
                {% for cat, msg in get_flashed_messages(True) %}
                    <div class="flash {{cat}}"> {{msg}}</div>
                {% endfor %}
                <div style="display: flex; flex-direction: column; padding-top: 20px;">
                    <input type="text" placeholder="Логин" name="nick" required pattern="[A-za-z1-0]*">
                    <input type="password" placeholder="Пароль" name="psw" required pattern="[A-za-z1-0]*">
                </div>
                <button id="btn" type="submit" class="signupbtn">Вход</button>
                <p>Еще нету аккаунта? <a onclick="modal.style.display = 'none';" href="{{url_for('register')}}">Создать аккаунт</a></p>
            </div>
        </form>
    </div>
</div>
<script>
var modal = document.getElementById('id01');

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
<footer>
    <span id="author"><a href="{{url_for('start_page')}}"><img src="/static/img/favicon.png" width="40px" height="40px" style="margin-right: 12px;"></a> &copy; 2023 <a href="https://vk.com/z.stepin">Степин Е.А.</a> и <a href="https://vk.com/glebuuus">Палеев Г.А.</a></span>
    <span id="other">
        <a href="https://github.com/dodik337/barxatniu">Source code</a>
        <a href="#contact">Contact</a>
        <a href="#discord">Discord</a>
        <a href="#bug report">Bug report</a>
    </span>


</footer>
{% endblock %}
</body>
</html>