<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    {% if title %}
        <title>{{title}}</title>
    {% endif %}
    <style>

    </style>
</head>
<body>
<div class="wrapper">
{% block content %}
    {%- block menu -%}
        <div class="burger">
            <span id="span_1"></span>
            <span id="span_2"></span>
            <span id="span_3"></span>
        </div>
        <div class="menu">
            <a href="{{url_for('start_page')}}"><img src="/static/img/favicon.png" width="200" height="200" style="margin-top: -120px; margin-bottom: 70px;"></a>
            <div class="list_menu">
                <ul>
                    {% for g in games -%}
                        <li><a href="{{url_for('game_choice', url=g.url)}}">{{g.title}}</a></li>
                    {% endfor -%}
                    {% for m in menu -%}
                        <li><a href="{{url_for(m.url)}}">{{m.title}}</a></li>
                    {% endfor -%}
                    {% if 'userlogged' in session %}
                        {% if status == 'admin' %}
                            <li><a href="{{url_for('admin_page')}}">Админ</a></li>
                        {% endif %}
                        <li><a href="{{url_for('quit')}}">Выход</a></li>
                    {% else %}
                        <li><a onclick="document.getElementById('id01').style.display='block'" style="cursor: pointer;">Вход</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endblock menu -%}
        <div id="id01" class="modal">
            <form class="modal-content" method="post" action="{{url_for('start_page')}}">
                <div class="container">
                    <span onclick="document.getElementById('id01').style.display = 'none';" style="color: black; margin-left: 99%; font-size: 18px; font-family: Verdana; cursor: pointer;">X</span>
                    <h1 style="text-align: center; text-transform: uppercase; font-family: Arial; font-size: 35px;">Вход</h1>
                    {% for cat, msg in get_flashed_messages(True) %}
                        <div class="flash {{cat}}"> {{msg}}</div>
                    {% endfor %}
                    <div style="display: flex; flex-direction: column; padding-top: 20px;">
                        <input id="log" type="text" placeholder="Логин" name="nick" required pattern="[A-za-z1-0]*">
                        <input id="pass" type="password" placeholder="Пароль" name="psw" required pattern="[A-za-z1-0]*">
                    </div>
                    <button id="btn" type="submit" class="signupbtn">Вход</button>
                    <p>Еще нету аккаунта? <a style="text-decoration: none;" onclick="document.getElementById('id01').style.display = 'none';" href="{{url_for('register')}}">Создать аккаунт</a></p>
                </div>
            </form>
        </div>
</div>
{% endblock %}

<footer>
    <span id="author"><a href="{{url_for('start_page')}}"><img src="/static/img/favicon.png" width="60px" height="60px" style="margin-right: 12px; margin-bottom: -14px;"></a> &copy; 2023 <a class="names" href="https://vk.com/z.stepin">Степин Е.А.</a>, <a class="names" href="https://vk.com/glebuuus">Палеев Г.А.</a> и <a class="names" href="https://vk.com/itopg">Удоратин И.О.</a></span>
    <span id="other">
        <ul>
            <li><a href="https://github.com/dodik337/barxatniu">Source code</a></li>
            <li><a href="https://discord.gg/nQxWBCUVUE">Discord</a></li>
            <li><a href="{{url_for('reports_page')}}">Bug report</a></li>
        </ul>
    </span>
</footer>
</body>
</html>
