{% extends 'base.html' %}
{% block content %}
{{ super() }}
<style>
    .books {
        margin-left: 160px;
        margin-right: 160px;
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #single_book {
        background: lightgray 50% / cover no-repeat;
        border-radius: 36px;
        border: 1px black solid;
        margin-bottom: 20px;
        padding: 20px;
    }
    #read_button {
        border: 1px black solid;
        border-radius: 30px;
        padding: 10px;
        background-color: lightgreen;
        color: white;
        text-align: center;
        text-shadow: 0 0 20px orange;
        font-size: 30px;
        text-decoration: none;
    }

    #read_button:hover {
        opacity: .6;
    }
    @media (max-width: 720px) {
        .books {
            display: flex;
            flex-wrap: wrap;
        }
        #single_book {
            width: auto;
        }
    }
</style>
<div class="books">
    {% if books %}
        {% for b in books %}
            <div id="single_book">
                <img src="{{b.img_url}}" style="left: 50%; transform: translate(-50%); position: relative;" width="300px" height="500px">
                <p style="margin-left: 10px;">{{b.title}}</p>
                <p style="margin-left: 10px;">{{b.description}}</p>
                <a style="text-decoration: none;" href="{{b.url}}"><div id="read_button">Читать</div></a>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
