{% extends 'base.html' %}
{% block content %}
{{ super() }}
<style>
  #back_btn {
        position: absolute;
        border: none;
        border-radius: 12px;
        padding: 12px;
        background-color: grey;
        text-decoration: none;
        margin: 12px;
        color: white;
    }
    #back_btn:hover {
        background-color: red;
    }
    .content {
      position: relative;
      margin-top: 5%;
      margin-left: 50px;
      padding: 12px;
    }
</style>
<a id="back_btn" href="{{url_for('contact_page')}}">Назад</a>
<div class="content">
  <h1>{{contact['title']}}</h1>
  <p>{{contact['text']}}</p>
  {% if status == 'admin' %}
    <p><a style="text-decoration: none;" href="{{url_for('delcontact', id_contact=contact['id'])}}">Удалить</a></p>
  {% endif %}
</div>
{% endblock %}