{% extends 'base.html' %}
{% block content %}
{{ super() }}
<style>
    .content {

    }
    .content.admin {

    }
    .content.users {

    }
    .form {
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-left: 35%;
        padding: 12px;
        border: 1px grey solid;
        border-radius: 20px;
    }
    .form input {
        border-radius: 8px;
        padding: 16px;
        margin: 20px;
        background-color: lightgrey;
    }
    .form button {
        border-radius: 8px;
        padding: 16px;
        margin: 20px;
        color: black;
        background-color: lightgrey;
    }
    .form button:hover {
        background-color: green;
        color: white;
    }
    .text {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 30px;
        border: 1px black solid;
        font-size: 25px;
        font-family: Arial, monospace;
        padding: 18px;
    }
    .contact-unreg {
        border: 1px grey solid;
        border-radius: 20px;
        padding: 12px;
        text-align: center;
        width: 50%;
        margin-inline: auto;
    }
    @media (max-width: 992px) {
        .contact-unreg {
            width: 65%;
            font-size: 25px;
        }
        hr {
            width: 65%;
        }
    }
</style>
<div class="content">
    {% if contact %}
        {% if 'userlogged' in session %}
            {% if status == 'admin' %}
                <div class="admin">
                    <div class="text">
                        <h1>Последние сообщения:</h1>
                        <hr>
                        {% for c in contact %}
                            <p><a href="{{url_for('contact', id_contact=c.id)}}">{{c.title}}</a> <span>{{c.time}}</span></p>
                            {% if c.text[100] %}
                                <p>{{c.text[:100]}}...</p>
                            {% else %}
                                <p>{{c.text[:100]}}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="users">
                    <h1 style="text-align: center;">Сообщение админам</h1>
                    <hr width="50%">
                    <form method="post" class="form">
                        <input placeholder="Заголовок" name="title" required>
                        <input placeholder="Текст" name="text" required>
                        <button type="submit">Отправить</button>
                    </form>
                    <hr width="50%">
                    <div class="text">
                        {% for c in contact %}
                            <p><a style="text-decoration: none;" href="{{url_for('contact', id_contact=c.id)}}">{{c.title}}</a> <span>{{c.time}}</span></p>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% else %}
            <h1 style="text-align: center;">Сообщения админам</h1>
            <hr width="50%">
            <div class="contact-unreg"><a style="color: purple;" href="{{url_for('register')}}">Зарегестрируйтесь</a> или <a style="text-decoration: underline; color: purple;" onclick="document.getElementById('id01').style.display='block'">Войдите</a> чтобы доложить о баге</div>
            <div class="text">
                {% for c in contact %}
                    <p><a style="text-decoration: none;" href="{{url_for('contact', id_contact=c.id)}}">{{c.title}}</a> <span>{{c.time}}</span></p>
                {% endfor %}
            </div>
        {% endif %}
    {% else %}
        {% if 'userlogged' in session %}
            {% if status == 'admin' %}
                <div class="admin">
                    <div class="text">
                        <h1>Последние сообщения:</h1>
                        <hr>
                        {% for c in contact %}
                            <p><a href="{{url_for('contact', id_contact=c.id)}}">{{c.title}}</a> <span>{{c.time}}</span></p>
                            {% if c.text[100] %}
                                <p>{{c.text[:100]}}...</p>
                            {% else %}
                                <p>{{c.text[:100]}}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <h1 style="text-align: center;">Сообщения админам</h1>
                <hr width="50%">
                <form method="post" class="form">
                    <input placeholder="Заголовок" name="title" required>
                    <input placeholder="Текст" name="text" required>
                    <button type="submit">Отправить</button>
                </form>
                <hr width="50%">
                <div class="text">
                    <p style="text-align: center;">Тут ничего нет</p>
                </div>
            {% endif %}
        {% else %}
            <h1 style="text-align: center;">Сообщения админам</h1>
            <hr width="50%">
            <div class="contact-unreg"><a style="color: purple;" href="{{url_for('register')}}">Зарегестрируйтесь</a> или <a style="text-decoration: underline; color: purple;" onclick="document.getElementById('id01').style.display='block'">Войдите</a> чтобы доложить о баге</div>
            <div class="text">
                <p style="text-align: center;">Тут ничего нет</p>
            </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}