{% extends "base.html" %}
{% block content %}
{{ super() }}
<style>
    #game_title {
        margin: 50px;
    }
    #game_title a {
        text-decoration: none;
    }
    #game_info {
        margin-left: 50px;
        font-size: 40px;
        overflow: auto;
    }
    @media (max-width: 992px) {
    }
</style>
{% if games %}
    {% for g in games %}
        <div id="game_title">
            <h1><a href="{{ url_for('game_choice', url=g.url) }}">{{g.title}}</a></h1>
        </div>
        <div id="game_info">
            {% if g.info[100] %}
                <p>{{g.info[:100]}}...</p>
            {% else %}
                <p>{{g.info[:100]}}</p>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <h1 style="text-align: center; margin-top: 10%;">Упс. Пока что тут ничего нет(</h1>
{% endif %}
{% endblock %}