{% extends 'base.html' %}
{% block content %}
{{ super() }}
<style>
  .content-block {
        display: flex;
  }
  #id02 {
        display: none;
  }
  #game_title {
        margin: 50px;
  }
  #game_title a {
        text-decoration: none;
  }
  #game_info {
        margin-left: 50px;
        font-size: 40px;
        overflow: auto;
  }
  #teacher_btn {
        border: 1px black solid;
        width: auto;
        text-decoration: none;
        padding: 8px;
  }
  .cont input {
        display: flex;
        align-items: column;
  }
  #btn_start, #btn_end {
        margin-left: 70%;
        transform: translate(-50%, 50%);
        border: 1px black solid;
        border-radius: 20px;
        padding: 16px;
        font-size: 24px;
  }
  @media (max-width: 992px) {

  }
</style>
{% if game %}
<div class="content-block">
    <div>
      <h1 id="game_title">{{game['title']}}</h1>
      <pre id="game_info">{{game['info']}}</pre>
      {% if status == 'teacher' %}
        <a style="text-decoration: none; color: black;" href="{{url_for('game', url=game.url, id_game=id_game)}}" id="btn_start">Создать игру</a>
        <div id="id02" class="quiz">
            <form class="quiz-content" method="post" action="{{url_for('game', url=game['url'], id_game=id_game)}}">
              <div class="cont">
                <label><input placeholder="Добавить вопрос" required><button id="addquest" type="button">&plus;</button></label>
                <label><input placeholder="Вариант ответа" required><button id="addans" type="button">&plus;</button></label>
              </div>
                <button type="submit">Подтвердить</button>
            </form>
        </div>
      {% endif %}
    </div>
</div>
<script></script>
{% endif %}
{% endblock %}