{% extends 'base.html' %}
{% block content %}
{{ super() }}
<style>
  .content-block {
        display: flex;
        height: 100%;
        margin-left: 20px;
  }
  #game_title {
        margin: 50px;
  }
  #game_title a {
        text-decoration: none;
  }
  #game_info {
        margin-left: 50px;
        font-size: 40px;
        overflow: auto;
  }
  #teacher_btn {
        border: 1px black solid;
        width: auto;
        text-decoration: none;
        padding: 8px;
  }
  .cont input {
        display: flex;
        align-items: column;
  }
  #btn_start {
        margin-left: 70%;
        transform: translate(-50%, 50%);
        border: 1px black solid;
        border-radius: 20px;
        padding: 16px;
        font-size: 24px;
        background-color: lightgreen;
  }
  footer {
    margin-top: 80%;
  }
  @media (max-width: 992px) {

  }
</style>
{% if game %}
<div class="content-block">
    <div>
      <h1 id="game_title">{{game['title']}}</h1>
      <p id="game_info">{{game_info}}</p>
      {% if status == 'teacher' %}
        <a id="btn_start" style="text-decoration: none; color: black;" href="{{url_for('game', url=game.url, id_game=id_game)}}">Создать игру</a>
      {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}
