{% extends "base.html" %}
{% block content %}
{{ super() }}
<style>
    footer {
        margin-top: 50%;
    }
</style>
{% if games %}
    {% for g in games %}
        <h1><a href="{{ url_for('game_choice', id_game=g.id) }}">{{g.title}}</a></h1>
        {% if g.info[100] %}
            <p>{{g.info[:100]}}...</p>
        {% else %}
            <p>{{g.info[:100]}}</p>
        {% endif %}
    {% endfor %}
{% else %}
    <h1 style="text-align: center; margin-top: 10%;">Упс. Пока что тут ничего нет(</h1>
{% endif %}
{% endblock %}