{% extends "base.html" %}
{% block content %}
{{ super() }}
<style>
    body {
        width: 100%;
        height: 100%;
    }
    #info {
        display: block;
        margin-right: 200px;
        margin-left: 200px;
        font-size: 24px;
    }
    #logo {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        color: white;
        font-size: 70px;
        font-family: Courier New, monospace;
        text-shadow: 0 0 20px #ff0000;
    }
    @media (max-width: 720px) {
        footer #author {
            font-size: 10px;
        }
    }
    @media (max-width: 992px) {
        #logo {
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 13%;
            transform: translate(-50%, -50%);
            text-transform: uppercase;
            color: white;
            font-size: 70px;
            font-family: Courier New, monospace;
        }
        #info {
            margin-left: 50px;
            margin-right: 50px;
        }
        footer #author {
            font-size: 14px;
        }
    }
    @media (min-width: 992px; max-width: 1440px;) {

    }
    @media (min-width: 1440px;) {

    }
    @font-face {
        font-family: "MontserratBlack";
        src: url("../static/css/fonts/MontserratBlack.ttf");
        src: url("../static/css/fonts/MontserratBlack.ttf?#iefix")format("embedded-opentype"),
        url("../static/css/fonts/MontserratBlack.ttf") format("woff"),
        url("../static/css/fonts/MontserratBlack.ttf") format("truetype");
        font-style: normal;
        font-weight: 100;
    }
    @font-face {
        font-family: "MontserratSemibold";
        src: url("../static/css/fonts/MontserratSemibold.ttf");
        src: url("../static/css/fonts/MontserratSemibold.ttf?#iefix")format("embedded-opentype"),
        url("../static/css/fonts/MontserratSemibold.ttf") format("woff"),
        url("../static/css/fonts/MontserratSemibold.ttf") format("truetype");
        font-style: normal;
        font-weight: 100;
    }
</style>
<h1 id="logo">Одуванчик</h1>
<video src="/static/video/videoplayback.mp4" width="100%" height="auto" loop autoplay muted typeof="mp4"  style="box-shadow: 0 0 50px rgba(0,0,0,0.5);"></video>
<div class="main">
    <div id="info">
        <div>
            <p style="text-align: center; font-family: MontserratBlack;">Добро пожаловать на наш образовательный сайт!</p>
            <div style="font-family: MontserratSemibold;">
                <p>Мы рады приветствовать вас на главной странице нашего сайта, который предлагает широкий спектр образовательных ресурсов и
                возможностей для саморазвития.</p>
                <p>Наша миссия состоит в том, чтобы предоставить доступное и качественное образование для всех желающих. Мы стремимся помочь
                    людям развиваться и раскрыть свой потенциал в различных сферах знаний.</p>

                <p>На нашем образовательном сайте вы найдете интересные и увлекательные игры, которые помогут вам проверить свои знания и развить навыки.
                Один из таких игровых форматов - это Quiz, где вы можете отвечать на вопросы по различным темам и проверять свою эрудицию.
                Вы сможете выбрать категорию вопросов и соревноваться с другими пользователями.
                Еще одна интересная игра - это Колесо удачи, где вы можете крутить колесо и получать различные задания или вопросы.
                Эта игра поможет вам не только развлечься, но и обогатить свои знания.Не забудьте также проверить раздел "Найди ошибку",
                где вы сможете тренировать свое внимание и логическое мышление, находя ошибки в предложениях или картинках.
                Наши курсы разработаны опытными преподавателями и экспертами в соответствующих областях, что гарантирует высокое качество обучения!</p>

                <p>Наш сайт регулярно обновляется новыми курсами и материалами, чтобы вы всегда могли найти что-то новое и интересное для себя.</p>

                <p>Мы надеемся, что наш образовательный сайт станет для вас надежным источником знаний и помощником в вашем личном и
                профессиональном развитии. Начните свое образовательное путешествие прямо сейчас и откройте новые горизонты знаний!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
