{% extends 'base.html' %}
{% block content %}
{{ super() }}
<style>
    body {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    input {
        width: auto;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
    }
    input:focus {
        background-color: #ddd;
        outline: none;
    }
    #btn {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        border-radius: 10px;
        font-size: 20px;
    }
    #btn:hover {
        color: #4CAF50;
        background-color: lightgrey;
        opacity:1;
        border: 1px black solid;
    }
    .container {
        padding: 16px;
    }
    .container input {
        border-radius: 10px;
    }
    .regis-content {
        border-radius: 15px;
        background-color: #fefefe;
        margin: 10% auto 15% 30%;
        border: 1px solid #888;
        width: 35%;
        height: auto;
        position: absolute;
        z-index: 1;
        top: 0;
    }
    #video-full {
        z-index: -1;
        overflow: hidden;
        position: relative;
    }
    #idbtn1, #idbtn2 {
        border-radius: 10px;
        color: green;
        width: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        color: red;
        background: white;
    }
    #idbtn1.pressed, #idbtn2.pressed {
        color: white;
        background: red;
    }
    input:invalid {
        animation: shake 300ms;
        color: rgb(255,  35, 35);
    }
    @keyframes shake {
        25% { transform: translateX(4px); }
        50% { transform: translateX(-4px); }
        75% { transform: translateX(4px); }
    }
    .form_radio_btn {
        display: inline-block;
        margin-right: 10px;
    }
    .form_radio_btn input[type=radio] {
        display: none;
    }
    .form_radio_btn label {
        display: inline-block;
        cursor: pointer;
        padding: 0px 15px;
        line-height: 34px;
        border: 1px solid #999;
        border-radius: 6px;
        user-select: none;
    }

    /* Checked */
    .form_radio_btn input[type=radio]:checked + label {
        background: #ffe0a6;
    }

    /* Hover */
    .form_radio_btn label:hover {
        color: #666;
    }

    /* Disabled */
    .form_radio_btn input[type=radio]:disabled + label {
        background: #efefef;
        color: #666;
    }
    footer {
        margin-top: 50%;
    }
</style>
<video id="video-full" src="/static/video/video2.mp4" width="100%;" height="auto" loop muted autoplay typeof="mp4">
</video>
<form class="regis-content" method="post">
    <div class="container">
        <h1 style="text-align: center; text-transform: uppercase; font-family: Arial; font-size: 35px;">Регистрация</h1>
        {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{cat}}"> {{msg}}</div>
        {% endfor %}
        <div style="display: flex; flex-direction: column; padding-top: 20px;">
            <input type="text" placeholder="Логин" name="regnick" required pattern="[A-za-z1-0]*">
            <input type="number" placeholder="Возраст" name="age" required pattern="[1-0 ]*">
            <input type="text" placeholder="Полное имя" name="regname" required pattern="[А-яа-я ]*">
            <input type="password" placeholder="Пароль" name="regpsw" required pattern="[A-za-z1-0]*">
            <input type="password" placeholder="Повторите пароль" name="regpsw2" required pattern="[A-za-z1-0]*">
            <div class="form_radio_btn">
                <input id="radio-1" type="radio" name="radio" value="student" checked>
                <label for="radio-1">Я ученик</label>
            </div>
            <div class="form_radio_btn">
                <input id="radio-2" type="radio" name="radio" value="teacher">
                <label for="radio-2">Я учитель</label>
            </div>
        </div>
        <button id="btn" type="submit" class="signupbtn">Зарегистрироваться</button>
    </div>
</form>
{% endblock %}