{% extends 'base.html' %}
{% block content %}
{{ super() }}
<style>
    .question-unreg {
        display: inline-block;
        border: 1px black solid;
        border-radius: 12px;
        padding: 10px;
        text-align: center;
        margin-left: 10%;
        width: 60%;
    }
    .question {
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 1px black solid;
        border-radius: 12px;
        padding: 10px;
        margin-left: 10%;
        width: 60%;
    }
    .reports {
        margin-top: 20px;
        padding: 8px;
        border-radius: 12px;
        border-left: 1px black solid;
        border-right: 1px black solid;
        border-top: 1px black solid;
        margin-left: 49.5%;
        transform: translate(-65%);
        width: 60%;
        overflow: hidden;
    }
    .border-list {
        width: 22%;
        position: absolute;
        border-left: 2px black solid;
        border-bottom: 2px black solid;
        left: 76%;
        top: 18%;
        padding-left: 8px;
    }
    #text {
        width: auto;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background-color: #ddd;
        outline: none;
        width: 600px;
        max-width: 600px;
        min-width: 600px;
        border: 1px black solid;
    }
    #btn_unsolved, #btn_solved {
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        border-radius: 10px;
        font-size: 20px;
        background-color: grey;
    }
    #btn_unsolved:hover {
        background-color: red;
        color: white;
    }
    #btn_solved:hover {
        background-color: green;
        color: white;
    }
    .time {
        margin-left: 22px;
        font-size: 24px;
    }
</style>
<h1 style="margin-left: 10%;">Актуальные баги</h1>
{% if 'userlogged' in session %}
<form method="post">
    <div class="question">
        <label><input style="width: 600px; border: 1px black solid; background-color: #ddd;" type="text" placeholder="Заголовок" name="name" required></label>
        <label><textarea id="text" placeholder="Текст" name="about" required></textarea></label>
        <button style="width: 630px;" type="submit" id="btn">Отправить</button>
    </div>
</form>
{% else %}
    <div class="question-unreg"><a style="color: purple;" href="{{url_for('register')}}">Зарегестрируйтесь</a> или <a style="text-decoration: underline; color: purple;" onclick="document.getElementById('id01').style.display='block'">Войдите</a> чтобы доложить о баге</div>
{% endif %}
<div class="border-list">
    <h1 style="font-family: Arial, monospace; font-size: 40px;">Последние репорты:</h1>
    {% if reports %}
        {% for i in lastreps %}
            {% if i.status == 'solved' %}
                <h1><a href="{{url_for('showReport', id_rep=i.id)}}" style="text-decoration: none;">{{i.name}}</a> <span style="color: green;">✔</span></h1>
            {% else %}
                <h1><a href="{{url_for('showReport', id_rep=i.id)}}" style="text-decoration: none;">{{i.name}}</a></h1>
            {% endif %}
            {% if i.about[20] %}
                <p>{{i.about[:20]}}...</p>
            {% else %}
                <p>{{i.about[:20]}}</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Тут ничего нет)</p>
    {% endif %}
</div>
<div class="reports">
    <div style="display: flex; justify-content: space-around; font-family: Arial, monospace;">
        <div class="buttons">
            <button id="btn_unsolved" type="button">Нерешенные</button>
        </div>
        <div class="buttons">
            <button id="btn_solved" type="button">Решенные</button>
        </div>
    </div>
    {% if reports %}
        <div id="unsolved-content">
            {% for r in reports_unsolved %}
                <div>
                    <h2><a href="{{url_for('showReport', id_rep=r.id)}}" style="text-decoration: none;">{{r.name}}</a>
                        <span class="time">{{r.time}}</span></h2>
                    {% if status == 'admin' %}
                        <a href="{{url_for('delreport', id_rep=r.id)}}">Удалить</a>
                    {% endif %}
                    {% if r.about[100] %}
                        <p>{{r.about[:100]}}...</p>
                    {% else %}
                        <p>{{r.about[:100]}}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div id="solved-content">
            {% for r in reports_solved %}
                <div>
                    <h2><a href="{{url_for('showReport', id_rep=r.id)}}" style="text-decoration: none;">{{r.name}}</a> <span style="color: green;">✔</span>
                        <span class="time">{{r.time}}</span></h2>
                    {% if status == 'admin' %}
                        <a href="{{url_for('delreport', id_rep=r.id)}}">Удалить</a>
                    {% endif %}
                    {% if r.about[100] %}
                        <p>{{r.about[:100]}}...</p>
                    {% else %}
                        <p>{{r.about[:100]}}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div>Пока что тут ничего нет...</div>
    {% endif %}
</div>
<script>
    var solved = document.getElementById('btn_solved');
    var unsolved = document.getElementById('btn_unsolved');
    window.onclick = function(event) {
        if (event.target == solved) {
            solved.style.background='green';
            unsolved.style.background='';
            document.getElementById('solved-content').style.display='block';
            document.getElementById('unsolved-content').style.display='none';
        }
        if (event.target == unsolved) {
            solved.style.background='';
            unsolved.style.background='red';
            document.getElementById('unsolved-content').style.display='block';
            document.getElementById('solved-content').style.display='none';
        }
    }
</script>
{% endblock %}